**/__pycache__/**
model.pt
.idea/vcs.xml
.idea/ss14-tts-api.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/discord.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/ss14-tts-api.iml
.idea/vcs.xml
